
.content {
    height: 550px;
    margin: 10px;    
}

.subject {
    width: 100%;
    padding:  12px 20px;
    border-radius: 4px;
    margin: 8px 0;
    box-sizing : border-box;
    font-size: 20px;
}

.description {
    width: 100%;
    padding:  12px 20px;
    border-radius: 4px;
    box-sizing : border-box;
    margin: 8px 0;
    font-size: 18px;
    height: 200px; 
  
}